<div  class="bg-gray-50 rounded p-4">
<%= simple_form_for [@post, @post.comments.build], data: { turbo: false },
                    builder: SimpleForm::Tailwind::FormBuilder do |f| %>
  <div>
    <%= f.input :comment, as: :text %>
  </div>
  <div class="grid md:grid-cols-3 gap-4">
    <%= f.input :pseudo %>
    <%= f.input :email %>
    <%= f.input :website %>
  </div>
  <div class="flex justify-end">
    <%= f.button :submit, "Envoyer", data: { disable_with: "traitement en cours" }, class: "btn btn-submit" %>
  </div>
<% end %>
</div>
